/*Gallery CSS*/
.interior-page {
  background-image: url(../images/interior\ background\ 1.jpg);
  opacity: 0.5;
  
}
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;  /* Reduced gap */
}

/* Responsive grid gap */
@media (max-width: 768px) {
    .gallery {
        grid-gap: 10px;
    }
}

.gallery img {
    width: 100%;
    object-fit: cover;  /* This will make sure images cover the entire grid cell without stretching */
}
